# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
env/
venv/
backend/.venv/
db.sqlite3
.mypy_cache/
.ruff_cache/

# Django
staticfiles/
media/

# Pytest/coverage
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
frontend/.vite/
frontend/dist/

# Logs
*.log

# IDE/editor
.idea/
.vscode/
*.swp

# Env
.env

# Docker
pgdata/

# Builds
dist/
build/
